import:
  - logstash-plugins/.ci:travis/travis.yml@1.x

jobs:
  include:
    - stage: "Integration Tests"
      env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env ELASTIC_STACK_VERSION=8.current
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=8.current
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env ELASTIC_STACK_VERSION=9.previous
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env ELASTIC_STACK_VERSION=9.current
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=9.previous
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=9.current
    - env: INTEGRATION=true DISTRIBUTION=default DOCKER_ENV=dockerjdk21.env SNAPSHOT=true ELASTIC_STACK_VERSION=main
